@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');

#prof {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #D9D5CE;
    font-family: "Josefin Slab", serif;
    color: #675F4B;
    min-height: 100vh;
}

.foto {
    scale: 0.9;
}

#prof-h1 {
    font-size: 64px;
}

.information-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    scale: 0.8;
}

#ana-julia {
    font-size: 32px;
}

#graduacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#p1, #p2 {
    font-size: 24px;
    text-align: start;
    color: #675F4B;
}

#images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 110vw;
}

#espaco {
    height: 64px;
}

@media (max-width: 768px) {
    #prof {
        padding-top: 35px;
    }

    #prof-h1 {
        font-size: 40px;
    }

    #images {
        flex-direction: column;
    }
}