@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');

#topbar {
    background: #D9D5CE;
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 40px;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
}

#icon {
    height: 75px;
}

#menu-toggle {
    display: none;
    font-size: 30px;
    color: #675F4B;
    cursor: pointer;
}

#topics {
    display: flex;
    flex-direction: column;
    gap: 15px;
    scale: 0.8;
    width: 1000px;
}

#social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    border-bottom: 2px solid #675F4B;
    gap: 10px;
}

#sections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    font-family: "Josefin Slab", serif;
    color: #675F4B;
}

.topico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 8px 10px 5px 10px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    position: relative;
}

.topico.ativo {
    background-color: #675F4B;
    color: white;
}

#inicio, #atuacao, #profissionais, #contatos {
    font-weight: 400;
}

.traco {
    width: 90%;
    height: 5px;
    position: absolute;
    top: 45px;
    transition: background-color 0.3s ease;
}

.traco.actived {
    background-color: #675F4B;
}

@media (max-width: 900px) {
    #topbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: auto;
        padding: 20px;
    }

    #menu-toggle {
        display: block;
    }

    #topics {
        display: none;
        flex-direction: column;
        background: #D9D5CE;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 20px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

    #topics.aberto {
        display: flex;
    }

    #sections {
        flex-direction: column;
        align-items: center;
    }

    #social {
        justify-content: center;
        border-bottom: none;
    }

    .topico {
        padding: 8px 10px 5px 10px;
    }

    #icon {
        height: 50px;
    }
}
